# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# exclude patterns (uncomment them if you want to use them):
.DS_Store
*.pyc
*.pyo
*.tgz
*.log
*.[oa]
*~
*.lo
*.la
*.al
*.tmproj
.libs
*.so
*.so.[0-9]*
*.env
*.venv
.*.swp
# Pip spits this out when doing anything
pip-log.txt
# kruft from the coverage run
nosetests.xml
coverage.xml
junit.xml
junit-*.xml
chromedriver.log
jmeter.log
.coverage
build/
js/node_modules
dev_brianz.py
django/media/django/css/production/
django/media/django/js/browserify_bundles/
django/media/django/js/production/
django/media/django/js/templates/build/
django/src/www/eventbrite/settings/configuration.py
django/src/www/eventbrite/settings/ubuntu.py
django/src/www/eventbrite/settings/local_overrides.py
django/src/www/eventbrite/settings/asset_map.yaml
django/src/www/eventbrite/settings/bundle_map.yaml
django/src/www/eventbrite/settings/bundle_map.json
python/static/js/min/
eventbrite_python
generated_bundle_map.yaml
.classpath
selenium.log.lck
.sconsign.dblite
evbdjango.py
.vagrant
web_release_notes.html
initial_data.yaml
initial_qa_data.yaml
gargoyle_qa_data.yaml
last_ngapi.profile
python/static/js/tiny_mce_347/*.gz
python/static/js/tiny_mce_3511/*.gz
.projectile
*.iml
conf/keys/mglogin2/*
.sass-cache
# ignore react jsx module cache
.module-cache
python_env/
python_venv/
django/docs/_build/
django/media/django/css/src/smacss/
django/media/django/css/src/styleguide/
django/media/django/css/src/eventbrite_design_system/
django/media/django/js/src/eventbrite_design_system/
django/media/django/js/src/destination_tools/
django/media/django/css/src/destination_tools/
django/templates/styleguide/
django/templates/build/
django/media/django/jsx/build/
*.mo
django/src/www/eventbrite/common/automation/webdriver/failures/*
!django/src/www/eventbrite/common/automation/webdriver/failures/.gitkeep
# Temporary downloads from vagrant_reload_db
/initial_data.yaml*
/initial_qa_data.yaml*
django/media/django/js/tests/spec_runners/
django/media/django/js/tests/spec_runners_*/
.reviewboardrc
# compiled .mo files
django/conf/locale/*.mo
django/conf/locale/*.po
django/conf/locale/*.pot
django/conf/locale/temp_translations/
django/src/www/eventbrite/compiled_handlebars/
django/src/www/eventbrite/djmanage_profile.png
js/bundles
js/**/node_modules
js/**/node_modules/
js/yarn.lock.md5
mysqlbinlog/
.cache/
js/jest_0
# IDE settings
.codeintel
.idea
.project
.pydevproject
.settings
*.sublime-*
.vscode
.#*
.pytest_cache
.vs
js/**/dist
.mypy_cache/
